<h1 mat-dialog-title>Formulaire d'ajout d'étudiant</h1>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="etudiantForm">
        <mat-form-field appearance="fill">
            <mat-label>N° Matricule</mat-label>
            <input formControlName="matricule" matInput placeholder="Ex:2365H-F">
            <mat-icon matPrefix>format_list_numbered</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input formControlName="nom" matInput placeholder="Ex:Rabe">
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Prénom(s)</mat-label>
            <input formControlName="prenom" matInput placeholder="Ex:Jean Bruno">
            <mat-icon matPrefix>person_outline</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date de naissance</mat-label>
            <input formControlName="dateNais" matInput [matDatepicker]="dp">
            <mat-hint>JJ/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconPrefix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Parcour</mat-label>
            <mat-icon matPrefix>class</mat-icon>
            <mat-select formControlName="idParcour" [(ngModel)]="selectedParcour" name="parcour">
                <mat-option>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <p> Parcour choisi: {{selectedParcour}} </p> -->
        <mat-form-field appearance="fill">
            <mat-label>Niveau</mat-label>
            <mat-icon matPrefix>show_chart</mat-icon>
            <mat-select formControlName="idNiveau" [(ngModel)]="selectedNiveau" name="niveau">
                <mat-option>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <p> Niveau choisi: {{selectedNiveau}} </p> -->
        <mat-form-field appearance="fill">
            <mat-label>Année scolaire</mat-label>
            <input formControlName="annee" matInput placeholder="Ex:2011-2012">
            <mat-icon matPrefix>date_range</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Début et Fin de l'année scolaire</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input formControlName="debutAS" matStartDate placeholder="Début">
                <input formControlName="finAS" matEndDate placeholder="Fin">
            </mat-date-range-input>
            <mat-hint>JJ/MM/AAAA – JJ/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Adresse</mat-label>
            <input formControlName="adresse" matInput placeholder="Ex:Fianarantsoa Lot.15UY-510">
            <mat-icon matPrefix>location_on</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>N° Téléphone</mat-label>
            <input formControlName="tel" matInput placeholder="Ex:0340152624">
            <mat-icon matPrefix>phone</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Adresse e-mail</mat-label>
            <input formControlName="mail" type="email" matInput placeholder="Ex:exemple@gmail.com">
            <mat-icon matPrefix>mail</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Observation</mat-label>
            <textarea formControlName="observation" matInput placeholder="..."></textarea>
            <mat-icon matPrefix>assignment</mat-icon>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" cdkFocusInitial (click)="addEtudiant()">Enregistrer</button>
    <button mat-raised-button color="accent" mat-dialog-close>Annuler</button>
</div>