<h1 mat-dialog-title>Formulaire d'ajout d'étudiant</h1>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="etudiantForm">
        <mat-form-field appearance="fill">
            <mat-label>N° Matricule</mat-label>
            <input formControlName="matricule" matInput placeholder="Ex:2365H-F">
            <mat-icon matPrefix>format_list_numbered</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Observation</mat-label>
            <textarea formControlName="observation" matInput placeholder="..."></textarea>
            <mat-icon matPrefix>assignment</mat-icon>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" cdkFocusInitial (click)="addEtudiant()">Enregistrer</button>
    <button mat-raised-button color="accent" mat-dialog-close>Annuler</button>
</div>