<h1 mat-dialog-title>Formulaire d'ajout de personne</h1>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="personneForm">
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input formControlName="nom" matInput placeholder="Ex:Rabe">
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Prénom(s)</mat-label>
            <input formControlName="prenom" matInput placeholder="Ex:Jean Bruno">
            <mat-icon matPrefix>person_outline</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date de naissance</mat-label>
            <input formControlName="dateNais" matInput [matDatepicker]="dp">
            <mat-hint>JJ/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconPrefix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Lieu de naissance</mat-label>
            <input formControlName="lieuNais" matInput placeholder="Ex:Fianarantsoa">
            <mat-icon matPrefix>location</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Adresse</mat-label>
            <input formControlName="adresse" matInput placeholder="Ex:Fianarantsoa Lot.15UY-510">
            <mat-icon matPrefix>location_on</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>N° Téléphone</mat-label>
            <input formControlName="tel" matInput placeholder="Ex:0340152624">
            <mat-icon matPrefix>phone</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Adresse e-mail</mat-label>
            <input formControlName="mail" type="email" matInput placeholder="Ex:exemple@gmail.com">
            <mat-icon matPrefix>mail</mat-icon>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" cdkFocusInitial (click)="addPersonne()">Enregistrer</button>
    <button mat-raised-button color="accent" mat-dialog-close>Annuler</button>
</div>