/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import 'material-icons/iconfont/material-icons.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-form-field {
    margin-right: 12px;
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

table {
    width: 100%;
}

.mat-mdc-form-field, .mat-mdc-form-field{
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.demo-table {
    width: 100%;
}

.demo-button-container {
    padding-bottom: 16px;
}

.demo-button+.demo-button {
    margin-left: 8px;
}